<a href="https://colab.research.google.com/github/MaksonViini/Learning-Python/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Numeros**

In [ ]:
# Convertendo de float para int
x = 10.5
x = int(x)
print(type(x))

<class 'int'>

In [ ]:
# Gerando um numero aleatorio entre um intervalo
from random import randint, randrange
num = randrange(0, 20)
print(num)
num1 = randint(0, 20)
print(num1)
lista = [randrange(0, 20),
         randrange(0, 20),
         randrange(0, 20),
         randrange(0, 20)]
print(lista)

16
0
[7, 3, 14, 4]

###**String**

In [ ]:
# Tipo
type("String")

str

In [ ]:
# obter pedacoes de string usando []
"Coisa"[0]
"Isso"[:2]

'Is'

In [ ]:
# Obtendo pedacos
nome = "    makson vinico"
print(nome.upper()) # Caixa alta
print(nome.lower()) # Caixa baixa
print(nome.split()) # Dividir as palavras apos delimitador
print(nome.strip()) # Retirar os espacos no inicio e no fim
",".join("abc") # Inserindo virgula dentro das letras abc, saida igual a: a,b,c

    MAKSON VINICO
    makson vinico
['makson', 'vinico']
makson vinico

'a,b,c'

In [ ]:
# Tamanho da string
coisa = "Vamos verificar o tamanho com espacos"
print(len(coisa))

37

In [ ]:
# Substituicao
print(coisa.replace("Vamos", "Going"))

Going verificar o tamanho com espacos

In [ ]:
# Split em todos os espacos
print(coisa.split(" "))
print(len(coisa.split(" "))) #Contando a quantidade de espacos

['Vamos', 'verificar', 'o', 'tamanho', 'com', 'espacos']
6

In [ ]:
# Verificar se uma palavra aparece em uma frase
frase = "Aprendendo Python"
print("Python" in frase) # Verifica se Pytohn esta na frase
print("Python" not in frase) # Verifica se Python nao esta na frase

True
False

In [ ]:
# Concatenando variaveis / strings
print("ISSO" , "aI")

ISSO aI

### **Tipo Boolean**

In [ ]:
conteudo = False
print(type(conteudo)) # Retorna o tipo bool

<class 'bool'>

In [ ]:
print(bool("dsdsdskdks")) # Verdadeiro pois tem conteudo dentro

True

###**Lista**

In [ ]:
numeros = [1, 29, 43, 4, 15, 6]
print(sorted(numeros)) # Organiza em ordem
numeros.append("a") # Adicionando um novo elemento a lista
print(numeros)

[1, 4, 6, 15, 29, 43]
[1, 29, 43, 4, 15, 6, 'a']

In [ ]:
carros = ["Fusion", "Corola", "Gol"]
carros.remove("Gol") # Metodo para remover um elemento
print(carros)
carros.reverse() # Inverte os elementos da lista
print(carros)

['Fusion', 'Corola']
['Corola', 'Fusion']

In [ ]:
carros = ["Fusion", "Corola", "Gol"]
del carros[2] #Remove o carro do indice 2
print(carros)
carros.clear() # Remove todos os elementos da lista
print(carros)

['Fusion', 'Corola']
[]

In [ ]:
carros = ["Fusion", "Corola", "Gol"]
carros2 = []
carros2 = list(carros) # Copiando toda uma lista para outra
print(carros)
print(carros2)

['Fusion', 'Corola', 'Gol']
['Fusion', 'Corola', 'Gol']

In [ ]:
carros = ["Fusion", "Corola", "Gol"]
carros2 = ["Celta", "Uno"]
carros3 = carros + carros2 # Concatenar uma lista
print(carros3)
print(sorted(carros3)) # Ordenando a lista

['Fusion', 'Corola', 'Gol', 'Celta', 'Uno']
['Celta', 'Corola', 'Fusion', 'Gol', 'Uno']

###**Condicionais**

In [ ]:
if 10 > 5: # Condicional 'SE'
  print(f"{10} e maior que {5} ") # Se 10 e maior que 5, entra aqui
else: # Se nao
  print(f"{10} e menor que {5} ") # Entra aqui

10 e maior que 5

In [ ]:
num = 10
if num % 2 == 0: # Verifica se o num e PAR, se nao, ele e IMPAR
  print(f"{num} e PAR ")
else:
  print(f"{num} e IMPAR ")

10 e PAR

In [ ]:
num = [] # Declara uma lista
if 10 > 11: # Como 10 nao e maior que 11, nao efetua a impressao
  print(num)
else: # Se nao
  num.append(10) # Adiciona 10 a lista vazia
print(num) # Imprime a lista com o numero 10

[10]

In [ ]:
# CALCULADORA BASICA
num = 10
num2 = 2
op = '/'
if op == '*': # Verifica se op e igual a *, para multiplicacao
  print(num * num2)
elif op == '+': # Funciona como um else if e verifica se op e igual a +, para soma
  print(num + num2)
elif op == '-': #Verifica se op e igual a -, para subtracao
  print(num - num2)
elif op == '/': # Verifica se op e igual a /, para divisao
  print(num / num2)

5.0

###**Loop**

In [ ]:
carros = ["Corsa", "Golf", "Gol", "Corola"]
for i in carros: # Percorre cada elemento da lista
  print(i , end=" ") # printa os elementos em ordem saltando um espaco a cada um deles

Corsa Golf Gol Corola

In [ ]:
for i in range(0, 10): # Vai de 0 a 9
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for letra in "Makson":
  print(letra) # Percorre a string Makson
else: # For no python tem ELSE
  print("Vi")

M
a
k
s
o
n
Vi

In [ ]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
lista = ["Nome", "Carro", 11, 13, 18] # Declara uma lista
tamanho = len(lista) # Pega o tamanho da lista
i = 0
while i < tamanho: # Verifica enquanto tamanho for maior que i
  print(lista[i], end=" ") # Mostra cara indice da lista
  i += 1 # Acresta um para posteriormente ser a condicao de parada

Nome Carro 11 13 18

###**Matrizes**

In [ ]:
l = [1, 2, 3, 4] # Array
matriz = [[1, 4], # Matriz, a matriz e formada por arrays encadeados
          [2, 6], 
          [3, 9]]
print(f"O indice i = 1 e j = 1 e? {matriz[1][1]}")          
for i in matriz:
  print(i)

O indice i = 1 e j = 1 e? 6
[1, 4]
[2, 6]
[3, 9]

###**Tuplas**

In [ ]:
# contruindo uma tupla
num = tuple([1, 2, 3]) # Tuplas sao imutaveis

In [ ]:
num[0] = 9 #Tupla e imutavel, nao da para modificar valores ja definidos

TypeError: ignored

In [ ]:
type(num)

tuple

In [ ]:
print(num[0])

1

In [ ]:
x = (5, 'abacaxi', 55.00) #Pode conter qualquer lista de dados, pode tambem conter listas, dicionarios e etc

In [ ]:
print(type(x))

<class 'tuple'>

In [ ]:
x, y = ("Makson", "Vinicio")
print(x)
print(y)

Makson
Vinicio

###**Dicionarios**

In [ ]:
# Dicionarios usa o conceito de Chave : Valor
x = {"Key":"Value", 
     "Teste":"1", 
     "Carro":"Ronda"}
print(x)

{'Key': 'Value', 'Teste': '1', 'Carro': 'Ronda'}

In [ ]:
carro = {"Marca":"Toyota", 
         "Modelo":"Corolla", 
         "Ano":"2018", 
         "Cor":"Preto"
         }
print(carro["Marca"]) # Apontando para a chave, para retornar o valor

Toyota

In [ ]:
for i in carro:
  print(i, ":", carro[i])

Marca : Toyota
Modelo : Corolla
Ano : 2018
Cor : Preto

In [ ]:
print(len(carro)) # 4 conjuntos chave valor

4

In [ ]:
carro["Cidade"] = "BH" # Inclue uma nova chave/valor
print(carro)

{'Marca': 'Toyota', 'Modelo': 'Corolla', 'Ano': '2018', 'Cor': 'Preto', 'Cidade': 'BH'}

In [ ]:
carro.pop("Cidade") # Remove uma chave

'BH'

In [ ]:
carro

{'Ano': '2018', 'Cor': 'Preto', 'Marca': 'Toyota', 'Modelo': 'Corolla'}

In [ ]:
carro.clear() # Limpar o dicionario
print(carro)

{}

In [ ]:
carros = {"Carro1":{"Modelo":"Corola"},
         "Carro2":{"Modelo":"Gol"},
         "Carro3":{"Modelo":"Focus"}}

In [ ]:
print(carros)

{'Carro1': {'Modelo': 'Corola'}, 'Carro2': {'Modelo': 'Gol'}, 'Carro3': {'Modelo': 'Focus'}}

In [41]:
print(carros["Carro1"]["Modelo"]) # Pega a chave carro1, e a chave modelo

Corola

In [43]:
Carro1 = {"Modelo":"Corola"}
Carro2 = {"Modelo":"Gol"},
Carro3 = {"Modelo":"Focus"}

In [44]:
carros = {"C1":Carro1, 
          "C2":Carro2, 
          "C3":Carro3
          }
print(carros)

{'C1': {'Modelo': 'Corola'}, 'C2': ({'Modelo': 'Gol'},), 'C3': {'Modelo': 'Focus'}}

In [47]:
print(carros["C1"])

{'Modelo': 'Corola'}